/*
$green: #33cc33;
$grey-dark: #333333;

<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
$open: Open-sans,Avenir, sans-serif;
*/

$light-blue: #00b3b3;
$white: #e6ffff;
$black: #1a1a1a;