/*
$green: #33cc33;
$grey-dark: #333333;

<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
$open: Open-sans,Avenir, sans-serif;
*/

$light-blue: #00b3b3;
$blue: #55acee;

$white: #e6ffff;
$grey-dark: #404040;
$black: #1a1a1a;

$green: #00802b;

$red: #990000;

$purple: #5900b3;

$orange: #cc5200;

$yellow: #cccc00;

